<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="com.bukhmastov.cdoitmo">

    <permission android:name="com.bukhmastov.cdoitmo.permission.RECEIVE_SHORTCUT_STATE" android:protectionLevel="signature" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="com.android.launcher.permission.INSTALL_SHORTCUT" />
    <uses-permission android:name="com.bukhmastov.cdoitmo.permission.RECEIVE_SHORTCUT_STATE" />

    <application
        android:name=".App"
        android:label="@string/app_name"
        android:theme="@style/AppTheme"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:allowBackup="true"
        android:fullBackupContent="@xml/backup_rules">

        <meta-data
            android:name="android.max_aspect"
            android:value="2.1" />

        <activity
            android:name=".activities.SplashActivity"
            android:theme="@style/AppTheme.Splash"
            android:launchMode="singleTop"
            android:noHistory="true" >
            <intent-filter>
                <action android:name="com.bukhmastov.cdoitmo.SHORTCUT_OPEN" />
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter android:label="@string/app_name">
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="http" android:host="de.ifmo.ru" />
                <data android:scheme="https" android:host="de.ifmo.ru" />
            </intent-filter>
            <meta-data
                android:name="android.app.shortcuts"
                android:resource="@xml/shortcuts" />
        </activity>
        <activity
            android:name=".activities.MainActivity"
            android:parentActivityName=".activities.SplashActivity"
            android:launchMode="singleTop" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.bukhmastov.cdoitmo.activities.SplashActivity" />
        </activity>
        <activity
            android:name=".activities.LoginActivity"
            android:parentActivityName=".activities.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.bukhmastov.cdoitmo.activities.MainActivity" />
        </activity>
        <activity
            android:name=".activities.FragmentActivity"
            android:parentActivityName=".activities.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.bukhmastov.cdoitmo.activities.MainActivity" />
        </activity>

        <activity
            android:name=".activities.SettingsActivity"
            android:label="@string/settings"
            android:parentActivityName=".activities.MainActivity"
            android:theme="@style/AppTheme.Settings" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.bukhmastov.cdoitmo.activities.MainActivity" />
        </activity>
        <activity
            android:name=".activities.AboutActivity"
            android:label="@string/about" />
        <activity
            android:name=".activities.LogActivity"
            android:label="@string/log" />
        <activity
            android:name=".activities.PikaActivity"
            android:theme="@style/AppTheme.Transparent"
            android:parentActivityName=".activities.AboutActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.bukhmastov.cdoitmo.activities.AboutActivity" />
        </activity>
        <activity android:name=".activities.ScheduleLessonsSearchActivity" />
        <activity android:name=".activities.ScheduleExamsSearchActivity" />

        <service
            android:name=".utils.TrackingProtocolJobService"
            android:enabled="true"
            android:exported="true"
            android:permission="android.permission.BIND_JOB_SERVICE" />

        <activity
            android:name=".activities.ShortcutReceiverActivity"
            android:theme="@android:style/Theme.NoDisplay"
            android:noHistory="true" >
            <intent-filter>
                <action android:name="com.bukhmastov.cdoitmo.CLICK_SHORTCUT" />
            </intent-filter>
        </activity>
        <receiver
            android:name=".receivers.ShortcutReceiver"
            android:permission="com.bukhmastov.cdoitmo.permission.RECEIVE_SHORTCUT_STATE"
            android:exported="true" >
            <intent-filter>
                <action android:name="com.bukhmastov.cdoitmo.CLICK_SHORTCUT" />
                <action android:name="com.bukhmastov.cdoitmo.ADD_SHORTCUT" />
                <action android:name="com.bukhmastov.cdoitmo.REMOVE_SHORTCUT" />
                <action android:name="com.bukhmastov.cdoitmo.SHORTCUT_INSTALLED" />
            </intent-filter>
        </receiver>

        <receiver android:name=".widgets.ScheduleLessonsWidget" >
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
                <action android:name="com.bukhmastov.cdoitmo.ACTION_WIDGET_UPDATE" />
                <action android:name="com.bukhmastov.cdoitmo.ACTION_WIDGET_OPEN" />
            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/schedule_lessons_widget_info" />
        </receiver>
        <activity android:name=".activities.ScheduleLessonsWidgetConfigureActivity" >
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_CONFIGURE" />
            </intent-filter>
        </activity>
        <service
            android:name=".widgets.ScheduleLessonsWidgetService"
            android:permission="android.permission.BIND_REMOTEVIEWS" />

        <activity
            android:name=".activities.TimeRemainingWidgetActivity"
            android:theme="@style/AppTheme.Popup"
            android:launchMode="singleTop"
            android:noHistory="true" />
        <activity
            android:name=".activities.DaysRemainingWidgetActivity"
            android:theme="@style/AppTheme.Popup"
            android:launchMode="singleTop"
            android:noHistory="true" />

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.bukhmastov.cdoitmo.fileprovider"
            android:grantUriPermissions="true"
            android:exported="false">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/filepaths" />
        </provider>

        <service android:name=".firebase.AppFirebaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT"/>
            </intent-filter>
        </service>
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/cdo" />

        <activity
            android:name=".activities.UniversityPersonCardActivity"
            android:theme="@style/AppTheme.TransparentStatusBar"/>

    </application>

</manifest>